<div th:replace="shared/header"></div>
 <div class="col-md-6">
          <!-- general form elements -->
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Add Unit</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form role="form" method="post" th:action="${pageURI}">
              <div class="box-body">
                <div class="form-group">
                  <label for="InputName">Unit</label>
                  <input type="text" name="unit_Name" class="form-control" id="unitName" th:value="${record.name}" placeholder="Enter Unit" required>
                </div>
                <div class="form-group">
                  <label for="InputContactNo">Code</label>
                  <input type="text" name="code" class="form-control" id="Code" th:value="${record.code}" placeholder="Enter Code">
                </div>
                  
                  
                  
   
              </div>
              <!-- /.box-body -->

              <div class="box-footer">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </form>
          </div>
          <!-- /.box -->

          <!-- Form Element sizes -->
          
<div th:replace="shared/footer"></div>