<div th:replace="shared/header"></div>
<div class="row">
        <div class="col-md-6">
          <div class="box">
            <div class="box-header with-border">
              <h3 class="box-title"></h3>
              <a href="item/create" class="btn btn-sm btn-primary">
                  <span class="glyphicon glyphicon-plus"></span>
              </a>
              
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <table class="table table-bordered" id="item-table">
                <tr>
                  <th style="width: 10px">id</th>
                  <th>Name</th>
                  <th>Supplier List</th>
                  <th>Category List</th>
                  
                 
                  <th style="width: 40px">Action</th>
                </tr>
                <tr th:each="record:${records}">
                    <td th:text="${record.id}"></td>
                    <td th:text="${record.name}"></td>
                    <td>
                        <span th:each="s:${record.itemSupplierList}" th:text="${s.supplierId.contact}"></span>
                    </td>
                    <td>
                        <span th:each="c:${record.itemCategoryList}" th:text="${c.categoryId.name}"></span>
                    </td>
                    <td>
                        <a th:href="@{'/item/edit/'+${record.id}}" class="btn btn-sm btn-success">
                            <span class="glyphicon glyphicon-pencil "></span>
                        </a>
                        <a th:href="@{'/item/delete/'+${record.id}}" class="btn btn-sm btn-danger">
                            <span class="glyphicon glyphicon-trash "></span>
                        </a>
                    
                    </td>
                </tr>
               
              </table>
            </div>
            <!-- /.box-body -->
            <div class="box-footer clearfix">
              <ul class="pagination pagination-sm no-margin pull-right">
                <li><a href="#">&laquo;</a></li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">&raquo;</a></li>
              </ul>
            </div>
          </div>
          <!-- /.box -->

          
        <!-- /.col -->
        
        </div>
    <script th:inline="javascript">
        $(function(){
            loadComboData({
                url:'/item/json',
                el:'#item-id',
                key:{
                    id:'id',
                    name:'name'
                },
                selected: '[[${record.item.id}]]'
        });
        
     
    </script>
<div th:replace="shared/footer"></div>
